# Core functionality - changes here should be rare!
/src/app.py                   @AdilNehal
/src/backend/database.py      @AdilNehal
/src/backend/routers/auth.py  @AdilNehal

# The frontend will need refactored soon to be more object oriented.
/src/static/   @AdilNehal
